html,body {
    height:100%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.row {
    margin-right: 15px;
    margin-left: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left:15px;
    padding-right:15px;
}

.nouppercase {
    text-transform: none;
}

ul.buckets {
    /* margin: 24px 0 24px -8px; */
    padding: 0;
    position: relative;
}
ul.buckets li {
    list-style: none;
    margin: 0;
    text-align: center;
}
ul.buckets li md-card md-card-content {
    padding: 0;
}
ul.buckets li span.bucket-content {
    display: block;
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    background-color: #f6f6f6 !important;
    box-shadow: none !important;
    margin-right: 0;
    margin-top: 0;
    cursor: default;
}
ul.buckets li span.bucket-content,
ul.buckets li span.bucket-content md-icon {
    color: #666 !important;
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
ul.buckets li span.bucket-content:hover,
ul.buckets li span.bucket-content:focus,
ul.buckets li span.bucket-content:hover md-icon,
ul.buckets li span.bucket-content:focus md-icon {
    color: #106CC8 !important;
    background-color: #ebebeb !important;
}

.md-slider-wrapper .md-track-ticks {
    display: none;
}

.inline-md-menu-content {
    display: flex;
    flex-direction: row;
}

.md-button.md-button-mini {
    min-width:16px;
}

.flex-multiline {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
}