<md-sidenav id="yamaha-sidebar" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-toolbar-tools">
        <span flex></span>

        <md-button class="md-fab" ng-click="sidebar.closeSidebar()">
            <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <a href="/zone1">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="home"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Zone 1</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
            <md-divider></md-divider>
            <a href="/zone2">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="home"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Zone 2</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
            <a href="/zone3">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="close"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Zone 3</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
            <a href="/zone4">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="open"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Zone 4</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
            <md-divider></md-divider>
            <a href="/remote">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="settings"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Remote</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
            <md-divider></md-divider>
            <a href="/settings">
                <md-list-item class="md-2-line">
                    <ng-md-icon icon="settings"></ng-md-icon>
                    <div class="md-list-item-text">
                        <h3>Settings</h3>
                        <p>&nbsp;</p>
                    </div>
                </md-list-item>
            </a>
    </md-content>
</md-sidenav>